@import "tailwindcss";

@theme {
  --color-de-black: #111111;
  --color-de-red: #dd0000;
  --color-de-red-dark: #b30000;
  --color-de-gold: #ffce00;
  --color-de-gold-soft: #fff7d1;
}

body {
  background: #ffffff;
  color: #111111;
}
